body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container, .twitter-tweet{
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #1a237e;
}


audio, video, iframe, .twitter-timeline, .twitter-tweet{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block; 
    
}


video{
    max-width: 100%;
    height: auto;
}